{% extends "insurance/base.html" %} {% block content %}
<div class="abtBG">
  <h1 class="heading"><strong>About The Developer:</strong></h1>
  <br />
  <a href="https://www.linkedin.com/in/jopara94"><h2>James Opara</h2></a>
  <br />
  <p>
    James is an energetic software engineer, foodie, music junkie, and
    self-proclaimed nerd of many disciplines. He's an outgoing, and
    detail-oriented person who thrives in a team environment, and is always
    excited to learn, grow and evolve.
  </p>
</div>
{% endblock %}
